<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/knightdb</property>
        <property name="hibernate.connection.username">spring</property>
        <property name="hibernate.connection.password">spring</property>
        <property name="hibernate.show_sql">true</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <mapping class="com.clockworkjava.kursspring.domain.Quest"/>
        <mapping class="com.clockworkjava.kursspring.domain.Knight"/>
        <mapping class="com.clockworkjava.kursspring.domain.PlayerInformation"/>
    </session-factory>
</hibernate-configuration>